###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/.idea/
/uml/*.bak_*
/src/Migrations

/docker/elastic/data
/docker/db/data/
/docker/jenkins/data
.directory
uml/.LMS.vpp.lck
tests/Entity/.BookTest.php.swp
tests/Entity/.SuperAdminTest.php.swp
src/Entity/.Book.php.swp
config/parameters.yml.dist
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
