version: '3'

services:
  # Lance un serveur web apache
  web:
    build: docker/apache2
    ports:
      - 8080:80
    volumes:
      - .:/usr/local/apache2/htdocs

  # Lance un serveur PHP FPM qui sera lié sur apache
  php:
    build: docker/php
    # Récupére les volumes définis sur web
    volumes:
      - .:/usr/local/apache2/htdocs

  # Lance un serveur MySQL
  db:
    image: mysql:5.7
    ports:
      - 3366:3306
    volumes:
      - ./docker/db/data:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

  pma:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8081:80
    links:
      - db:db

  node:
    build: docker/node
    ports:
      - 7000:7000
    volumes:
      - .:/var/www/symfony
    command: "yarn run dev-server --port 7000 --host 0.0.0.0"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.3.2
    hostname: elasticsearch
    ports:
      - 9200:9200
      - 9300:9300
    volumes:
      - ./docker/elastic/data:/usr/share/elasticsearch/data
      - ./docker/elastic/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536

  kibana:
    image: docker.elastic.co/kibana/kibana:6.3.2
    hostname: kibana
    links:
      - elasticsearch
    ports:
      - 5601:5601
    volumes:
      - ./docker/kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml

  redmine:
    build: docker/redmine
    restart: always
    networks:
      - redmine
    volumes:
      - ./docker/redmine/data:/usr/src/redmine/sqlite
#    links:
#      - db:db
#      - smtp:smtp
    ports:
      - 3000:3000

  smtp:
    image: panubo/postfix
    ports:
      - 587:587
    environment:
      - MAILNAME=<mydomain>

  jenkins:
    build: docker/jenkins
    ports:
      - 8082:8080
      - 50000:50000
    volumes:
      - ./docker/jenkins/data:/var/jenkins_home
      - /usr/bin/docker:/usr/bin/docker
    environment:
      - DOCKER_HOST=tcp://socat:2375
    restart: always

  socat:
    build: docker/socat
    command: TCP4-LISTEN:2375,fork,reuseaddr UNIX-CONNECT:/var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    expose:
      - "2375"

#volumes:
#  postgres-data:
#  jenkins_home:
#    external: true
networks:
  redmine:
    driver: bridge