{% extends 'dashboard_layout.html.twig' %}

{% block left_sidebar '' %}

{% block title 'Librairie' %}
{% block page_title library.name %}
{% block subheader_title library.name %}

{% block page_content %}
    <div class="m-content" id="app">
    </div>
{% endblock %}

{% block page_javascripts %}
    {% if false %}
    <!--begin::Page Snippets -->
    <script src="{{ asset('backend/assets/app/js/dashboard.js') }}" type="text/javascript"></script>
    <!--end::Page Snippets -->
    {% else %}
        <script src="{{ asset('backend/assets/override/js/dashboard.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock page_javascripts %}
